#select_block{
    margin-left: 30px;
}

#select_block li{
    margin-bottom: 20px;
}

#sel{
    height: 36px;
    border-radius: 10px;
    margin-right: 16px;

    font-size: 26px;
    font-weight: normal;

}

#inp{
    height: 30px;
    font-size: 26px;
    border-radius: 10px;
}